.moveup {
  margin-top: -25px;
}
.moveupsm {
  margin-top: -5px;
}
.moveleft {
  margin-right: 7px;
}
.marginbelowsm {
  margin-bottom: 10px;
}
.marginbelow {
  margin-bottom: 20px;
}
.tabtoright {
  margin-left: 25px;
    margin-top: 30px;
}
.tabright {
  margin-left: 18px;
}
.margintop {
  margin-top: 10px;
}
.moveright {
  margin-left: 20px;
}
.marginB {
  margin-bottom: 10px;
}
.marginR {
  margin-right: 25px;

}