{% extends './layout.html' %}
{% block content %}
  <h4>Cohort: July/2017 - 3rd project: Postgres, JS, Express, Swig</h4>
  <br /><br />
  <h5>
  <div>
    The user's Tab:  Displays, creates & deletes user information.  You can also promote a user to a manager.
  </div>
  <br /><br />
  <div>
    The Manager's Tab:  Displays the users that are manager level.  Manager's can be demoted here.
  </div>
    <div>
      <br /></br />
      There is minimal error checking on the post route (add user route):<br />
      &ensp;<p>- An empty name field is not allowed</p>
      &ensp;<p>- A duplicate name field is not allowed</p>
  </div>
  </h5>
{% endblock%}