{% extends './layout.html' %}
{% block content %}
  <h3>Users</h3>
  <div class="well">
      <h4>Add a User</h4>
      <form action="/users" method="POST">
        <label for="name_field">User Name:</label>
        <input name="name" type="text" size="50px" class="marginB" placeholder="..." />
        <div>
          <label for="isMgr_field">Is Mgr:</label>
          <input name="isMgr" type="checkbox" class="marginB" />
          <button class="btn btn-primary tabright" type="submit">Submit</button>
        </div>
      </form>
  </div>
  {% for user in users %}
    <div class="well clear">
      {{ user.name }}
      {% if user.ismgr == 'Y' %}
        <a class="btn btn-success btn-xs pull-right" role="button">Manager</a>
      {% else %}
        <form action="/users/{{ user.id }}?_method=DELETE" method="POST">
          <button class="btn btn-danger marginT pull-right moveup" type="submit">Delete User</button>
        </form>
        <form action="/users/{{ user.id }}?_method=PUT" method="POST">
          <button class="btn btn-primary marginT pull-right moveup moveleft" type="submit">Make Mgr</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
{% endblock%}